
  <div>
    <h4 class="mat-display-5" style="text-align: center;">Select the direction for the drone</h4>
  </div>
  <br>
  <div align="center">
    <mat-form-field style="text-align: center;">
      <mat-select [(ngModel)]="move">
        <mat-option value="">----Select----</mat-option>
        <mat-option *ngFor="let d of direction" [value]="d">{{d}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <br>
  <br>

<div *ngFor="let m of rows">&nbsp;
  <span>{{m}}</span>&nbsp;
    <span *ngFor="let n of columns" >&nbsp;
      <span *ngIf="check(m,n); else non">
        <button mat-raised-button (click)="select(m,n)" id="colored">{{a}}</button>
      </span>
      <ng-template #non>
        <span >
          <button mat-raised-button (click)="select(m,n)"  class="selected"> ! </button>
        </span>
      </ng-template>
    </span>
  </div>
  <br>
  <br>
  <div  style="text-align:center">
    <button class="btn btn-primary" type="reset" (click)="reset()">Reset</button>
  </div>






